<div class="container">
<div class="row">
  <div class="col-xs-8 col-md-8">
    <h3>iRent Marketplace</h3>
    <ul class="product-list">
      <li *ngFor="let product of products | async"
          class="product-container">
          <div class="row">
            <div class="col-sm-3 col-md-3 text-center">
              <img src="./assets/{{product.id}}.jpg"
                   class="product_image img-responsive"/>
            </div>
            <div class="col-sm-8 col-md-8">
              <h4>
                <span class="text--bold js-product-name">{{product.name}}</span>
                <small class="product_price js-product-price">{{product.price | currency:'USD':true}}</small>
              </h4>
              <p class="js-product-desc">{{product.description}}</p>
              <p>
                <span *ngIf="product.ingredients" class="text--bold">ingredients:</span>
                <br/>
                <span *ngFor="let ingredient of product.ingredients ">
                  {{ingredient.name}} ({{ingredient.percentage}}%)
                  <br/>
                </span>
              </p>
              <p>
                <button type="button"
                        class="btn btn-success"
                        (click)="addProductToCart(product, 1)">Add To Cart</button>
                <button type="button"
                        class="btn btn-danger"
                        *ngIf="productInCart(product) | async"
                        (click)="removeProductFromCart(product, 1)">Remove item from cart</button>
              </p>
            </div>
          </div>
      </li>
    </ul>
  </div>
  <div class="col-xs-4 col-md-4">
    <app-shopping-cart></app-shopping-cart>
  </div>
</div>
</div>