<div class="container">

    <h1>About Us</h1>
    <h2>Mission</h2>
    <p>iRent is an online rental e-commerce marketplace where customers can rent and purchase movies,
         games and books for a low price. Our mission at iRent is to support and promote online rental experience for our consumers as a flexible and new way of consuming. Our friendly and professional staff at iRent will ensure that customers’ needs are always a number one priority. Our primary purpose is to enable an easy access to thousands of latest movies, games and books for our customers. We will deliver high quality and superior products to our customers in fast and low-cost means. Try iRent today!
    </p>
    
    <h2>Vision</h2>

    <p>
            Our primary focus at iRent is on positive energy, visualizing success and to enhance the lives of our staff and consumers by maintaining our integrity and honesty. Our vision is to continue to be the online rental marketplace of choice by providing timely service to our clients. To achieve our vision, we make sure iRent has quality resources and latest technology available for the success of the company. 

    </p>
</div>